/*inicio nosotros*/

.historia p {
    font-size: 0.7rem;
    /* font-weight: 500;
    color: #333; */
}

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    /*peso de la tipografia*/
    color: #2e64a1;
}

.persona h5 {
    font-size: 14px;
    margin-top: 5px;
}

.persona h6 {
    font-size: 10px;
    font-style: italic;
}

.persona p {
    color: #666;
    font-size: 10px;
}

/*fin nosotros*/